body {
  background-color: white;
  color: #0b0b0b;
  margin: 0;
  height: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: system-ui, sans-serif;

  max-width: 700px;
  margin-right: auto;
  margin-left: auto;

  /*header.masthead */
  /*
  position: relative;
  overflow: hidden;
  */

  /*padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;*/

  /* (variant 2) */
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%); 
  /* (variant 3) https://99designs.de/blog/design-kreativitaet/farbkombinationen/ - 29. Rot, Gelb, Blaugrün und helles Violett */
  background: linear-gradient(0deg, #e8d71d 0%, #16acea 100%);
  /* (variant 4b) https://visme.co/blog/de/farbkombinationen/ - 4 - Sonnenuntergang über einem Sumpf */
  background: linear-gradient(0deg, #6465a5 0%, #f3e96b 100%);
  /* (variant 4a) https://visme.co/blog/de/farbkombinationen/ - 4 - Sonnenuntergang über einem Sumpf */
  background: linear-gradient(0deg, #f28a30 0%, #f3e96b 100%);

  background-repeat: no-repeat;
  background-position: center center;
  /*background-attachment: scroll;*/
  background-attachment: fixed;
  background-size: cover;
}
body {
  /*
  background-color: #f4f4f4;
  color: #0b0b0b;
  */

  /* (variant 2) */
  color: white;
  /* (variant 3) https://99designs.de/blog/design-kreativitaet/farbkombinationen/ - 29. Rot, Gelb, Blaugrün und helles Violett */
  color: #4203c9;
  /* (variant 4a) https://visme.co/blog/de/farbkombinationen/ - 4 - Sonnenuntergang über einem Sumpf */
  color: #6465a5;

  background-color: #0b0b0b;
}

/*header.masthead .bg-circle {*/
.bg-wrapper {
/*
  */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}
.bg .bg-circle {
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  
  /* (variant 2) */
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
  /* (variant 3) https://99designs.de/blog/design-kreativitaet/farbkombinationen/ - 29. Rot, Gelb, Blaugrün und helles Violett */
  background: linear-gradient(0deg, #16acea 0%, #e8d71d 100%);
  /* (variant 4b) https://visme.co/blog/de/farbkombinationen/ - 4 - Sonnenuntergang über einem Sumpf */
  background: linear-gradient(0deg, #f3e96b 0%, #6465a5 100%);
  /* (variant 4a) https://visme.co/blog/de/farbkombinationen/ - 4 - Sonnenuntergang über einem Sumpf */
  background: linear-gradient(0deg, #f3e96b 0%, #f28a30 100%);

  /*overflow: hidden;*/
}
/*header.masthead .bg-circle-1 {*/
.bg .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}
/*header.masthead .bg-circle-2 {*/
.bg .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
/*header.masthead .bg-circle-3 {*/
.bg .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
/*header.masthead .bg-circle-4 {*/
.bg .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}


.disabled {
    pointer-event: none;
}
